*, *::before, *::after {
    box-sizing: border-box;
} 
body {
    padding-right: 5%;
    background-size: cover; 
    /* background-repeat: no-repeat; */
    margin: 0 auto;
    width: 100%;
    text-align: center;
    font-family: system-ui, "Comic Sans MS, Comic Sans, cursive" , "-apple-system" , "Segoe UI" , "Roboto" , "Helvetica Neue" , Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Symbol", "Segoe UI Emoji" , "Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: 222;
    background-image: linear-gradient(to right, #9EEFE1 0%, #4830F0 51%, #9EEFE1 100%);
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    height: 800px;
}
.todo-caption {
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: oblique;
    color: #040504;
}
.todo-input {
    display: flex;
    margin-left: 25%;
    width: 20%;
    justify-content: space-between;
    opacity: 60%;
    /* margin: 0 auto; */
}

.container {
    padding: 3%;
}
.from-control {
    display: flex;
    height: 40px;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}
.todo-items{
    padding: 0;
    width: 340px;
    margin: 0 auto;
    font-size: 40px;
}
.btn-active {
    border-radius: 12%;
    height: 30px;
    width: 80px;
    background-image: linear-gradient(to right, #9EEFE1 0%, #4830F0 51%, #9EEFE1 100%);
}
.task {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient(to right, #d89eef 0%, #4830F0 51%, #bb00b2 100%);
    border: 2px solid #f0be1a;
    border-radius: 3% ;
    color: rgba(7, 22, 88, 0.774);
    padding: 3px 3px;
    margin: 10px;
    text-decoration: none;
    font-size: 15px;
    width: 100%;
    word-wrap: break-word;
    opacity: 0.7;

}
.add-button {
    border-radius: 12%;
    background-image: linear-gradient(to right, #2ff7d5 0%, #98f82b 51%, #0edf54 100%);    height: 30px;
    width: 80px;
    font-size: 100%;
    margin: 1%;
    margin-right: 250px;
}
.todo-input {
    border-radius: 12%;
    display: flex;
    width: 220px;
    justify-content: space-between;
    margin: 0 auto;
}
.btn-all {
    border-radius: 12%;
    height: 30px;
    width: 80px;
    background-image: linear-gradient(to right, #9EEFE1 0%, #4830F0 51%, #9EEFE1 100%);
}
.btn-done {
    border-radius: 12%;
    height: 30px;
    width: 80px;
    background-image: linear-gradient(to right, #9EEFE1 0%, #4830F0 51%, #9EEFE1 100%);
}

.btn-delete {
    border-radius: 12%;
    height: 30px;
    width: 80px;
    background-image: linear-gradient(to right, #efae9e 0%, #4830F0 51%, #e63f3f 100%);
}

.button-del {
    border-radius: 12%;
    height: 30px;
    width: 80px;
    background-image: linear-gradient(to right, #ee4242 0%, #2f17cf 51%, #f51010 100%);
}

.pagination {
    width: 200px;
    margin: auto;
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
    padding: 6px;
    border-radius: 50px;
    flex-grow: 1;
    margin-top: 5px;
}

.active {
    background-color: blueviolet;
}

.pagination li {
    border-radius: 12%;
    display: flex;
    height: 20px;
    width: 20px;
    justify-content: space-between;
    margin: 0 auto;
    background-image: linear-gradient(to right, #9EEFE1 0%, #30f0c0 51%, #e606ae 100%)
}
.swap {
    margin-top: 5px;
    background-color: rgba(173, 129, 34, 0.863);
}