.add-task{
    border-radius: 12%;
    width: 60%;
    justify-content: center;
    margin: 0 auto;
}

.from-control {
    border-radius: 10px;
    height: 30px;
    width: 250px;
}
.block-sort {
    display: flex;
    justify-content: center;
    align-items: center;
}