.buttons {
    border-radius: 12%;
    width: 220px;
    justify-content: space-between;
    margin: 0 auto; 
}
.sort-btn {
    display: flex;
}
.check-del{
    color: rgb(246, 188, 252);
    border-radius: 12%;
    width: 220px;
    justify-content: space-between;
    margin: 0 auto;
    display: flex;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
}
.block-sort {
    display: flex;
    color: rgb(243, 194, 186);
    font-family: 'Montserrat', sans-serif;
}

.check-all {
margin-top: 30px;
-webkit-appearance: none;
-moz-appearance: none;
display: inline-block;
width: 64px;
height: 64px;
padding: 0;
vertical-align: top;
outline: none;
transition: background 0.3s ease;
background: url(unChecked32.png) 0 0 no-repeat;
cursor: pointer;
}

.check-all:checked{
    background-image: url(checked32.png);
}